{% extends "base.html" %}
{% import "macros.html" as m %}

{% block title %}#{{ term.name }} · {{ config.title }}{% endblock title %}
{% block description %}Posts tagged #{{ term.name }}.{% endblock description %}

{% block content %}
<div class="sec-head">ls ./{{ taxonomy.name }}/{{ term.slug }} <span class="ref">ref. /{{ taxonomy.name }}/{{ term.slug }}</span></div>
<div class="bom">
  {%- for page in term.pages %}
  {{ m::bom_row(page=page, n=loop.index) }}
  {%- endfor %}
</div>
{% endblock content %}
